@{
    List<Tuple<string, string>> links = Context
       .Documents[Blog.Pages]
       .Where(x => x.Bool(BlogKeys.ShowInNavbar, true))
       .Where(x => x.FilePath(Keys.RelativeFilePath)?.FullPath?.StartsWith("index") == (bool?)false)
       .Select(x => Tuple.Create(x.WithoutSettings.String(Keys.Title), Context.GetLink(x)))
       .Where(x => !string.IsNullOrEmpty(x.Item1))
       .OrderBy(x => x.Item1)
       .ToList();

    if(Documents[Blog.Tags].Any()) {
       links.Insert(0, Tuple.Create("Tags", Context.GetLink("tags/index.html")));
    }

    if(Documents[Blog.BlogPosts].Any() && Context.Bool(BlogKeys.GenerateArchive)) {
       links.Insert(0, Tuple.Create("Archive", Context.GetLink(Context.String(BlogKeys.PostsPath) + "/index.html")));
    }

    List<Tuple<string, string>> linksFooter = Context
       .Documents[Blog.Pages]
       .Where(x => x.Bool("ShowInFooter", true))
       .Where(x => x.FilePath(Keys.RelativeFilePath)?.FullPath?.StartsWith("index") == (bool?)false)
       .Select(x => Tuple.Create(x.WithoutSettings.String(Keys.Title), Context.GetLink(x)))
       .Where(x => !string.IsNullOrEmpty(x.Item1))
       .OrderBy(x => x.Item1)
       .ToList();

    var title = Model.WithoutSettings.String(BlogKeys.Title) ?? "Lukas Kabrt";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@title</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script defer src="https://www.googletagmanager.com/gtag/js?id=UA-635380-7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-635380-7');
    </script>

    <link rel="stylesheet" href="/assets/css/blog.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha256-HAaDW5o2+LelybUhfuk0Zh2Vdk8Y2W2UeKmbaXhalfA=" crossorigin="anonymous" />

    <!-- Favicon-->
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/favicon-apple-60x60.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/favicon-apple-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="shortcut icon" type="image/png" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/icons/ms-icon-144x144.png">

    @if (Context.String(BlogKeys.RssPath) != null) {
    <link type="application/rss+xml" rel="alternate" title="@Context.String(BlogKeys.Title)" href="@Context.GetLink(Context.String(BlogKeys.RssPath))" />
    }

    @if (Context.String(BlogKeys.AtomPath) != null) {
    <link type="application/atom+xml" rel="alternate" title="@Context.String(BlogKeys.Title)" href="@Context.GetLink(Context.String(BlogKeys.AtomPath))" />
    }
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-light navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="@Context.GetLink("/")">
                    <img src="/assets/img/logo.png" alt="LK">
                    @Context.String(BlogKeys.Description)
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="navbarcollapse" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        @foreach(var link in links) {
                        <li class="nav-item">
                            <a href="@link.Item2" class="nav-link active">@link.Item1</a>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer>
        <div class="container d-lg-flex align-items-center">
            <div class="text-center text-left-lg">
                &copy; @DateTime.UtcNow.Year Lukas Kabrt. Content on this site is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
            </div>
            <nav class="nav ml-auto justify-content-center">
                @foreach(var link in linksFooter) {
                    <a class="nav-link" href="@link.Item2">@link.Item1</a>
                }
            </nav>
        </div>
    </footer>

    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha256-Y1rRlwTzT5K5hhCBfAFWABD4cU13QGuRN6P5apfWzVs=" crossorigin="anonymous"></script>
    <script defer src="/assets/js/blog.min.js"></script>
</body>
</html>