@model IEnumerable<IDocument>

@{
    var first = true;
}

<div class="container posts-listing">
    @foreach(IDocument post in Model) {
        var lead = post.String(BlogKeys.Lead);
        var postCategory = post.String("Category");

        <hr />

        <div class="post">
            <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                    <div class="date meta-last">@(post.Get<DateTime>(BlogKeys.Published).ToLongDateString(Context))</div>
                    @if(postCategory != null) {
                        <div class="category"><span>@postCategory</span></div>
                    }
                </div>
                <a href="@Context.GetLink(post)">
                    <h3 class="h4">@post.WithoutSettings.String(BlogKeys.Title)</h3>
                    @if(!string.IsNullOrWhiteSpace(lead)) {
                        <p class="text-muted">@lead</p>
                    } else {
                        <p class="text-muted">@Html.Raw(post.String(BlogKeys.Excerpt))</p>
                    }
                </a>
                <footer class="post-footer d-flex align-items-center">
                    <div class="author d-flex align-items-center flex-wrap">
                        <div class="avatar"><img src="/assets/img/lukas-kabrt.jpg" alt="Lukas Kabrt" class="img-fluid"></div>
                        <div class="title"><span>Lukas Kabrt</span></div>
                    </div>
                    <div class="date"><i class="icon-clock"></i> @(post.Get<DateTime>(BlogKeys.Published).ToShortDateString())</div>
                </footer>
            </div>
        </div>

        first = false;
    }
</div>