@{
    Layout = "_LayoutWithSidebar";
    var published = Model.Get<DateTime>(BlogKeys.Published);
    var tags = Model.Get<string[]>(BlogKeys.Tags) ?? new string[] {};

    var postImage = Model.String(BlogKeys.Image);
    var postCategory = Model.String("Category");
}

<div class="container">
    <div class="post-single">
        @if(postImage != null) {
        <div class="post-thumbnail"><img src="@postImage" class="img-fluid"></div>
        }

        <div class="post-details">
            @if(postCategory != null) {
            <div class="post-meta d-flex justify-content-between">
                <div class="category"><span>@postCategory</span></div>
            </div>
            }

            <h1>@Model.WithoutSettings.String(BlogKeys.Title)</h1>
            <div class="post-body">
                @RenderBody()
            </div>
            <div class="post-tags">
                @foreach (string tag in tags.OrderBy(x => x)) {
                    IDocument tagDocument = Documents[Blog.Tags].FirstOrDefault(x => x.String(BlogKeys.Tag)== tag && x.Get<int>(Keys.CurrentPage) == 1);
                    if(tagDocument != null) {
                <a class="tag" href="@Context.GetLink(tagDocument)">@tag</a>
                    }
                }
            </div>
            <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                <div class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="/assets/img/lukas-kabrt.jpg" alt="Lukas Kabrt" class="img-fluid"></div>
                    <div class="title"><span>Lukas Kabrt</span></div>
                </div>
                <div class="d-flex align-items-center flex-wrap">
                    <div class="date"><i class="icon-clock"></i> @published.ToShortDateString()</div>
                </div>
            </div>

            <div class="post-footer">
                <div id="disqus_thread"></div>

                <script>
                    var disqus_config = function () {
                        this.page.url = '@Context.GetLink(Model, true)';
                        this.page.identifier = '@Model.FilePath(Keys.RelativeFilePath).FileNameWithoutExtension.FullPath';
                    };

                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://blogkabrtcz.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
        </div>
    </div>
</div>
